<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="bg-dark p-3 mb-3">
            <h1 class="text-center text-white"><%=data.descripcion%></h1>
        </div>
        <div class="row">
            <% var i = 1; data.items.forEach(element => { %>
                <div class="col-lg-3 col-md-3 col-sm-3 border bg-white productos m-3">
                    <img src="/images/<%= element.imagen %>" height="350px" alt="">
                    <div class="row bg-dark">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span class="text-white"><%= element.nombre %></span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span class="text-white"><%= element.precio %> €</span>
                        </div>
                    </div>
                </div>
                <% if(i % 3 === 0){ %>
                    <div class="w-100"></div>
                <% } %>
            <% i++; }); %>
        </div>       
    </div>
  </body>
</html>
